* {
	margin: 0;	
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	height: 100%;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

	background-image: url("https://i.pinimg.com/originals/42/82/aa/4282aae2126eb185702c95ec71e1a32e.jpg");
}



.conteiner1{
width: 100%;
height: 100px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
background-color: black;
}

h1 a{
text-decoration: none;
color: yellow;
}

ul{ 
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

li a{
color: yellow;
text-decoration: none;
}

li a:hover{
    background-color: gray;
	width: 70px;
	text-align: center;
	font-size: 20px;
	}

.titulo:hover{

font-size: 40px;

}



.conteiner2{
	height: 80%;
	width: 100%;
    display: flex;
	justify-content:right;
	flex-direction: column;
	padding: 15px;
}

.texto{
width: 100%px;
height: 300px;
display: flex;
padding: 10px;
justify-content: center;
align-items: center;
}

.pqadotar{
background-color:tomato;
width: 500px;
height: 250px;
font-size: 25px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}

.coluna1{

display: flex;
width: 100%;
justify-content: space-evenly;
padding: 20px 0 0 ;
}

.coluna2{
display: flex;
width: 100%;
justify-content: space-evenly;
padding: 20px 0 0 ;
}


.coluna3{
	display: flex;
    width: 100%;
	justify-content: space-evenly;
	padding: 20px 0 0 ;
}


#fotos{

	width: 160px;
	height: 160px;
	padding: 10px;
	border: 5px solid black;
	border-radius: 20px;
	object-fit: cover;
}

#fotos:hover{
border-color: yellow;
}

#fotos:active{
border-color: darkgreen;
}

.rodapé{
width: 100%;
height: 150px;
background-color: black;
display: flex;

}

.textopé{
display: flex;
justify-content: center;
align-items: center;
margin-left: 350px;
}


.logo img{
height: 30px;
width: auto;
margin-top: 60px;
margin-left: 20px;
}

.logo img:hover{

	transform: scale(1.3);

}


