@media(max-width: 700px ){

    .texto{

        margin-left: 0;
    }
	#titulo{
			display: none;
		}
	
	.lista {
	display: flex;
	flex-direction: column;
	}
	
	.midiamobile{
	display: flex;
	flex-direction: column;
    width: 100%;

	}

    .coluna1{
    flex-direction: column;
    align-items: center;
}
.texto{

    flex-direction: column;
    text-align: center;
}
.pqadotar{

    flex-direction: column;
    align-items: center;
}
	
}

@media(max-width: 480px ){
	#titulo{
			display: none;
		}
	
	.lista {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	}
	
	.midiamobile{
	display: flex;
	flex-direction: column;
    width: 100%;
    
	}

    .coluna1{
    flex-direction: column;
    align-items: center;
}
.texto{

    flex-direction: column;
    text-align: center;
}
.pqadotar{

    flex-direction: column;
    align-items: center;
}

.imagempe{

	width: 30%;
	height: 40%;
}
	
	
}
